

body{
  background-image: url('../img/backTexturedPaperEdit.jpg');
  background-repeat: repeat;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

/* header section */

#header{
  height: 15vh;
  max-height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1;
}

#backButton{
  height: 100%;
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 2vw;
}

#backButton{
  text-decoration: none;
}

#backButton:link, #backButton:visited{
  color: black;
}

.squareImage{
  height: 30%;
  width: auto;
  margin-left: 1vw;
  opacity: 0.5;
}

#backText{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1em;
  margin-left: 1vw;
  opacity: 0.5;
}

#siteIdentity{
  width: 30vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 3.5vw;
  margin-top: 2vw;
}

#siteTitle{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 2vw;
}

#titleLogo{
  height: 80%;
  width: auto;
}

.titleHeading{
  height: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.3em;
  font-weight: 700;
}

.titleSubheading{
  height: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 0.8em;
  font-style: italic;
  font-weight: 300;
}

/* generation marker */

#genMarker{
  height: 15vh;
  max-height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 0;
}

#kanjiBig{
  font-family: 'New Tegomin', serif;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 25px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}

#genSub{
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}

/* picture*/

#profilePicture{
  height: 40vh;
  max-height: 300px;
  width: 100%;
  background: linear-gradient(180deg, white, rgba(255,255,255, 0));
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigProfile{
  height: 85%;
  width: auto;
  border-radius: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(255, 255, 255, 0.5);
}

#profileImg{
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}

#profileTitle{
  width: 100%;
  height: 10vh;
  max-height: 100px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 500;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}

#profileTitleDouble{
  width: 100%;
  height: 10vh;
  max-height: 100px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 500;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}

.nameLeft{
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nameRight{
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.centerSeparator{
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* content */

#contentWrapper{
  margin-top: 3vh;
  margin-bottom: 6vh;
  width: 80%;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;
  text-align: justify;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}

.normal{
  font-weight: 500;
}

.heading{
  font-weight: 800;
}

.imgDescriptor{
  font-weight: 300;
  font-style: italic;
  color: rgb(50, 50, 50);
  margin-left: 20px;
  margin-right: 20px;
}

.imgFull{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgFull img{
  width: 90%;
  height: auto;
}

.imgWithText{
  width: 100%;
  display: flex;
  justify-content: center;
}

.imgWithText img{
  height: auto;
}

.textImg{
  font-style: italic;
  padding-left: 25px;
  display: flex;
  align-items: center;
}

.imgRowWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imgRow{
  display: flex;
  flex-wrap: nowrap;
  width: 90%;
  justify-content: center;
}

.imgRowDesc{
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.imgRow img{
  object-fit: contain;
}

.imgRow2{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 40vh;
  width: 90%;
}

.imgRow2 img{
  height: 100%;
  width: auto;
}

li{
  margin-top: 8px;
  margin-bottom: 8px;
}

#referencias{
  font-family: Lora;
  font-size: small;
}

#referencias li{
  font-family: Lora;
  font-size: small;
  margin-top: 15px;
  margin-bottom: 15px;
}

#referencias ol{
  padding-right: 20px;
}
